.App {
  text-align: center;
}

#form {
  background-color: #170C6C;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-input {
  width: 70% !important;
}

.ant-form-item-required {
  color: white !important;
}