name: Chat front end CD
on:
  pull_request:
    types:
        - closed
    branches: main
jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    env:
      HOST: ${{ secrets.CHAT_FRONTEND_HOST }}
      USER: ${{ secrets.CHAT_FRONTEND_HOST_USER }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up go
        uses: actions/setup-node@v3
        with:
          go-version: 1.19

      - name: Create .env
        run: |
          echo REACT_APP_BASE_URL=${{ secrets.REACT_APP_BASE_URL }} > ./.env
          echo REACT_APP_BASE_WEBSOCKET_URL=${{ secrets.REACT_APP_BASE_WEBSOCKET_URL }} >> ./.env
      - name: install yarn
        run: npm install --global yarn
      - name: install dependencies
        run: yarn install
      - name: build
        run: yarn build
      - name: deploy
        run: |
          touch .env
          echo "${{ secrets.DB_USER_NAME }}" >> .env
          echo "${{ secrets.DB_PASS }}" >> .env
          echo "${{ secrets.DB_HOST }}" >> .env
          echo "${{ secrets.DB_PORT }}" >> .env
          echo "${{ secrets.DB_NAME }}" >> .env
          echo "${{ secrets.DB_SIGN_KEY }}" >> .env
          echo "${{ secrets.CHAT_FRONTEND_SSH_KEY }}" > ssh-key.pem
          chmod 600 ./ssh-key.pem
          eval $(ssh-agent)
          ssh-add ./ssh-key.pem
          scp -o StrictHostKeyChecking=no ./build/* "$USER"@"$HOST":/var/www/$HOST/html